{% macro tree_description(tree) -%}
"<p>{{ tree.species_german|readify }} {{ tree.location_number }}<hr>Planted in {{ tree.year_of_planting }}<br>{{ tree.address }}<p>"
{% endmacro -%}

{% macro render_location(location, properries) -%}
{% endmacro -%}
