{% from "macros.jinja" import render_location, tree_description with context -%}
{% set content_title_visible = False -%}
{% extends "base.html" -%}
{% block advanced_head -%}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
  integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
  crossorigin=""/>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
{% endblock -%}
{% block javascript -%}
<script>
  {% autoescape false %}
  var coords = {{ trees.jsonify() }};
  {% endautoescape -%}
  var map = L.map('mapid').setView([{{ long }}, {{ lat }}], 17);  // location need sto be set

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      'useCache': true
  }).addTo(map);
  for (var i = 0; i < {{ trees.trees|length }}; i++) {
    L.marker([coords[i][0], coords[i][1]]).addTo(map)
        .bindPopup(coords[i][2])
        .openPopup();
  };
</script>
{% endblock -%}
{% block content -%}
<div class="row h-100">
  <div class="col-xl">
    <div id="mapid" class="h-100" style="min-height: 500px;"></div>
  </div>
  <div class="col-md container">
    <div class="row">
      <h4>{{ render_location(location, location_properties) }}</h4>
      <hr>
    </div>
    <div class="row">
    {#   {% for tree in trees.trees -%}
        {{ render_tree(tree, type="simple") }}
      {% endfor -%} #}
    </div>
    <form class="row d-flex justify-content-center input-group" method="POST">
      <input type="hidden" name="location" value="{{ location }}">
      <input type="email" name="email" placeholder="example@example.com">
      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="customControlValidation1" required>
        <label class="custom-control-label" for="customControlValidation1"><a href="/eula" class="text-muted">Agree to the EULA</a></label>
        <div class="invalid-feedback">you need to agree to the EULA before proceding</div>
      </div>
      <button type="button" class="btn btn-primary btn-shadow">Anfrage Senden</button>
    </form>
  </div>
</div>
{% endblock -%}
